.aside {
    width: 100px;
    position: fixed;
    z-index: 11;
    min-height: 100vh;
    right: 0;
    top: 0;
    border-left: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside__social-list-item {
    margin: 30px 0;
}
.aside__toggle-btn {
    position: fixed;
    top: 40px;
    cursor: pointer;
    width: 40px;
    height: 25px;
    right: 30px;
    margin: 0 auto;
    span {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            height: 1px;
            width: 40px;
            background-color: #fff;
        }
        &:nth-child(2) {
            &:after {
                top: 11px;
            } 
        }
        &:nth-child(3) {
            &:after {
                top: 22px;
            } 
        }
    }
}
.aside__toggle-btn--open {
    z-index: 9999;
}